
.login-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #dbe3ec;

  select {
    width: 14em;
    padding: 0.7em;
    color: white;
    height: 3em;
    background-color: #5e656e;
    border-radius: 0.5em;
    text-align: center;

    &:focus {
      outline: none;
    }
  }

  input {
    width: 11em;
    height: 1.5em;
    margin-top: 0.7em;
    border-radius: 0.5em;
    padding: 0.3em 0.8em;

    &:focus {
      outline: none;
      border: 3px solid #ff5891;
    }
  }

  .error {
    color: #ab1414;
    margin-top: 0.5em;
  }

  .login-btn {
    width: 8em;
    margin-top: 1em;
    border-radius: 0.5em;
    border-style: solid;
    border-color: white;
    color: white;
    background-color: #5e656e;
    padding: 0.5em 0.7em;

    &:focus {
      outline: none;
    }
  }
}
