.tiles-holder {
  display: grid;
  grid-row-gap: 0.2rem;

  .order-tile {
    background-color: #e67b74;
    border-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3rem;
    color: white;
    height: 3rem;
    overflow: hidden;
    font-size: 0.9rem;
    padding-right: 0.4rem;

    img {
      height: 3rem;
    }

    .price {
      display: flex;
      justify-content: space-between;
      width: 20%;
      height: 3rem;
      align-items: center;

      button {
        font-weight: bold;
        border-radius: 3rem;
        height: 50%;
        width: 1.5rem;
        background-color: #f3f3f3;
        border: none;
        font-size: 1.2em;

        &:focus {
          outline: none;
        }
      }
    }
  }
}

.bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  .total {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0.5rem 1rem;
    background: white;
  }
  .place-order-btn {
    background-color: #e91e63;
    border: none;
    color: white;
    height: 3.5rem;
    border-top: 1px solid white;
    font-weight: bold;
    font-size: 1.5rem;

    &.disable {
      background-color: #e68cab;
      pointer-events: none;
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .modal-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    outline: none;

    &:focus {
      outline: none;
    }
  }

  input {
    z-index: 1;
    padding: 0.5em 1em;
    border: 3px solid #b19eb4;
    border-radius: 0.6rem;

    &:focus {
      outline: none;
      border: 3px solid #ff5891;
    }
  }

  .btn-panel {
    z-index: 1;
    margin-top: 1rem;

    button {
      color: white;
      font-weight: bold;
      border: none;
      border-radius: 0.6rem;
      background-color: #ff5891;
      margin: 0.5rem;
      padding: 0.5rem 1em;

      &:focus {
        outline: none;
      }
    }
  }
}
