
.items-grid {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;

  .hidden {
    display: none;
  }

  .tile-btn {
    background-color: transparent;
    border: none;
    color: #5e656e;
    padding-top: 0.5rem;
    padding-bottom: 0.1rem;

    &:active {
      outline: none;
    }

   &:focus {
     outline: none;
   }

   &.checked {
     color: white;
     background-color: #ff5f5f;
   }

    img {
      max-width: 14rem;
      width: 100%;
      border-radius: 0.5rem;
    }

    span, div {
      font-weight: bold;
    }
  }
}

.checkout-btn {
  width: 100%;
  background-color: #e91e63;
  border: none;
  color: white;
  height: 3.5rem;
  border-top: 1px solid white;
  font-weight: bold;
  font-size: 1.5rem;
  position: fixed;
  bottom: 0;

  &.disable {
    background-color: #e68cab;
    pointer-events: none;
  }
}
